@import "tailwindcss";

@theme {
  --font-sans: var(--font-lexend), "Lexend", sans-serif;
  --font-lexend: var(--font-lexend), "Lexend", sans-serif;
}

@utility font-regular {
  font-weight: 400 !important;
}

@utility font-medium {
  font-weight: 500 !important;
}

@utility font-semibold {
  font-weight: 600 !important;
}

@utility font-bold {
  font-weight: 700 !important;
}

@layer base {
  *,
  ::before,
  ::after {
    font-family: var(--font-lexend), "Lexend", sans-serif !important;
  }

  html {
    scroll-behavior: initial !important;
  }

  html,
  body {
    font-family: var(--font-lexend), "Lexend", sans-serif !important;
    background-color: #ffffff !important;
    color: #0f172a;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}
